/* variables for site */
:root {
    --lavender: #E3D8F1;
    --pink: #DABECA;
    --rosy: #BF8B85;
    --camel: #AD8A64;
    --independence: #5D5F71;
}

* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}

h1 {
    font-size: 30px;
}

/* My Portfolio - header */
header {
    text-align: center;
    color: var(--independence);
    background-color: var(--pink);
    border: 2px solid var(--independence);
    font-size: 4pc;
}

/* about me */
aside {
    font-size: 3pc;
    font-weight: 200;
    border: 2px solid var(--independence);
}

/* about me  */
article {
    font-size: 2pc;
    border: 2px solid var(--independence);
    display: flex;
}

main {
    background-color: var(--lavender);
    text-align: center;
}

#work {
    font-size: 36px;
    margin-bottom: 20px;
    text-decoration: underline;
}

/* first project header */
.LAP {
    display: inline-block;
    font-size: 3pc;
    width: 17pc;
    border-bottom: 2px solid var(--independence);
}

/* project img */
section div img {
    width: 20pc;
}

.homework {
    margin: 15px;
    text-align: center;
    font-size: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.hw {
    display: flex;
    flex-direction: column;
}

.hw-pics {
    height: 14pc;
    margin-right: 10px;
    margin-left: 10px;
    width: 17pc;
}

#technologies {
    border: 2px solid black;
    background-color: var(--camel);    
}

#sect2head {
    font-size: 2pc;
}

main article {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.contact {
    display: flex;
    flex-wrap: wrap;
    font-size: 24px;
}

#linkedin {
    display: flex;
    flex-direction: column;
    margin-right: 2pc;
}

#github {
    display: flex;
    flex-direction: column;
}

/* below 992px */
@media screen and (max-width: 992px) {
    main {
        background-color: var(--independence);
    }

    header {
        font-size: 4pc;
    }
}

/* below 768px */
@media screen and (max-width: 768px) {
    main {
        background-color: var(--lavender);
    }

    header h1 {
        font-size: 2pc;
    }

    #aboutMe {
        font-size: 1pc;
    }

    header aside {
        font-size: 2pc;
    }

    section h1 {
        font-size: 2pc;
    }

    .contact {
        width: 10pc;
        justify-content: space-evenly;
    }
}