/* variables for site */
:root {
    --lavender: #E3D8F1;
    --pink: #DABECA;
    --rosy: #BF8B85;
    --camel: #AD8A64;
    --independence: #5D5F71;
}

* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}

main {
    text-align: center;
}

/* My Portfolio - header */
header {
    text-align: center;
    font-size: 10pc;
    color: var(--rosy);
    background-color: var(--pink);
    padding-bottom: 16px;
    border: 2px solid var(--independence);
}

/* about me left-side */
aside {
    font-size: 3pc;
    font-weight: 200;
    border: 2px solid var(--independence);
}

/* about me answer */
article {
    font-size: 2pc;
    border: 2px solid var(--independence);
    display: flex;
    background-color: var(--lavender);
}

/* first project header */
section h1 {
    display: inline-block;
    font-size: 3pc;
    width: 17pc;
    border-bottom: 2px solid var(--independence);
    
}

/* small screen size coming soon image */
h3 img {
    display: none;
}
section div a {
    width: 25pc;
    height: auto;
}

/* below 992px */
@media screen and (max-width: 992px) {
    main {
        background-color: var(--independence);
    }
    header {
        font-size: 4pc;
    }
}

/* below 768px */
@media screen and (max-width: 768px) {
    main {
        background-color: aqua;
    }
    header h1 {
        font-size: 2pc;
    }
    header aside {
        font-size: 2pc;
    }
    h2 img {
        display: none;
    }
    h3 img {
        display: inline-block;
        width: 12pc;
        height: auto;
    }
    section h1 {
        font-size: 2pc;
        width: 12pc;
    }
}

